@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import '~antd/dist/antd.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Varela Round', sans-serif;
}

a {
   text-decoration: none;
   color: black;
}

li {
  list-style-type: none;
}

ul {
  margin-left: 0;
  padding-left: 0;
}

* {
  box-sizing: border-box;
}

.ant-table-thead .ant-table-cell {
  font-weight: bold;
  background-color: #3CB878;
}


