@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$first-color: black;
$second-color: white;
$links-color: #3CB878;
$grey-color: #858585;
$font: 'Varela Round', sans-serif;
$lg: 1440px;
$md: 1199px;
$sm: 991px;
$xs: 767px;
$sx: 340px;
